/*GENERALES*/
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif, Helvetica, Arial;
}

body {
    background: url(../img/bg.png);

}

#container {
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 0 10px gray;
    background: white;
}

a {
    color: #01B1EA;
}

a:visited {
    color: #01B1EA;
}

a:hover {
    color: #555555;
}


/*HEADER*/
#header {
    height: 145px;
    background: #F0F0F0;
}

#logo {
    padding: 20px;
    margin-left: 20px;
    float: left;
}

#logo img {
    height: 100px;
    float: left;
}

#logo a {
    float: left;
    font-size: 40px;
    letter-spacing: 4px;
    font-family: 'Open Sans', Helvetica, Arial;
    text-transform: uppercase;
    color: #01B1EA;
    font-weight: bold;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 15px;
    text-shadow: 0 2px 1px #222222;
    transition: all 300ms;
}

#logo a:hover {
    text-shadow: 0 2x 1px #222222, 0 0 4px #01B1EA;
}

/* MENU */
#menu {
    clear: both;
    background: #222;
    color: white;
    height: 55px;
    border-bottom: 4px solid #01B1EA;
}

#menu ul {
    list-style: none;
    text-decoration: none;
    margin: 0 auto;
    margin-left: 25px;
}

#menu ul li {
    line-height: 55px;
    float: left;
    border-right: 1px solid #363636;
}

#menu a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    transition: all 300ms;
}

#menu a:first-child {
    border-left: 1px solid #363636;
}

#menu a:hover {
    background: #01B1EA;
}

.alert-green {
    color: green;
}

.alert-red {
    color: red;
}

table {
    text-align: center;
    width: 100%;
    border: 1px solid #555;
}

th {
    color: white;
    padding: 5px;
    background: #2979CD;
}

td {
    border-top: 1px solid #ccc;
    padding: 5px;
}

tr:nth-of-type(2n + 1) {
    background: #ccc;
}

/* CONTENEDOR SIDEBAR*/
#content {
    margin: 0 auto;
    overflow: hidden;
    background: white;
}

#sidebar {
    width: 22%;
    min-height: 800px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

#sidebar .block-aside {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 10px;
}

#sidebar h3 {
    display: block;
    color: #222;
    width: 100%;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    background: #E1E1E1;
    border-bottom: 2px solid #01B1EA;
}

#sidebar ul {
    margin-top: 20px;
    margin-bottom: 20px; 
}

#sidebar ul li {
    list-style: square;
    /* list-style-image: url('../img/user-silhouette.png'); */
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Formularios*/

label,
input[type="text"],
input[type="password"],
input[type="email"],
select {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    border: 1px solid #c9c9c9;
    box-shadow: 0 0 2px #ccc inset;
    background: white;
    padding: 2px;
    color: gray;
    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 1px solid #1579b5;
    color: black;
}

input[type="button"],
input[type="submit"],
button, .button {
    display: block;
    border-radius: 2px;
    width: auto;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}

.button {
    background: #33AE3D;
    color: white !important;
    text-decoration: none;
}

.button-small {
    width: 150px;
    text-align: center;
    float: left;
    margin-bottom: 5px;
    border: 1px solid #33AE3D;
}

.button-small:hover {
    background: gray;
    border: 1px solid gray;
}

.btn-volver {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
    border: 1px solid #33AE3D;
}

.btn-volver:hover {
    background: gray;
    border: 1px solid gray;
}

input[type="submit"]:hover {
    background: gray;
    border: 1px solid gray;
}

label,
input[type="button"],
input[type="submit"],
button {
    display: block;
    margin-top: 10px;
}


/*CENTRAL*/

#central {
    box-sizing: border-box;
    min-height: 800px;
    width: 75%;
    float: right;
    border-left: 1px solid #ccc;
    box-shadow: -5px -1px 5px #ddd;
    padding: 25px;
}

#central h1 {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
}

/*PRODUCTOS*/

.product {
    width: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    float: left;
    text-align: center;
}

.product img {
    width: 100px;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 18px;
    margin-bottom: 10px;    
}

.product p {
    font-weight: bold;
    font-size: 14px;
    color: #555; 
    margin-bottom: 10px;    
}

/*FOOTER*/

#footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
    color: white;
    background: #222222;
    border-top: 4px solid #01B1EA;
}